<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".MainActivity"
            android:label="@string/nc_title_message"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/NunchukNoActionBar.Dark" />

        <activity
            android:name=".intro.UniversalNfcIntroActivity"
            android:label="Universal NFC intro"
            android:screenOrientation="portrait" />

        <activity
            android:name=".components.tabs.services.keyrecovery.KeyRecoveryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.tabs.services.emergencylockdown.EmergencyLockdownActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.tabs.services.inheritanceplanning.InheritancePlanningActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".membership.authentication.WalletAuthenticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".nonsubscriber.NonSubscriberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".membership.byzantine.groupdashboard.GroupDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />
        <activity
            android:name="com.nunchuk.android.main.membership.policy.ConfigServerKeyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar" />

        <activity
            android:name="com.nunchuk.android.main.membership.byzantine.payment.RecurringPaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name="com.nunchuk.android.main.membership.byzantine.primaryowner.PrimaryOwnerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".rollover.RollOverWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".membership.key.desktop.AddDesktopKeyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".groupwallet.FreeGroupWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity android:name=".groupwallet.join.UnableJoinGroupWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity android:name=".groupwallet.join.CommonQRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />
    </application>

</manifest>