<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".components.receive.ReceiveTransactionActivity"
            android:label="@string/nc_transaction_receive"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.receive.address.details.AddressDetailsActivity"
            android:label="@string/nc_transaction_unused"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.send.amount.InputAmountActivity"
            android:label="@string/nc_transaction_new"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name=".components.send.fee.EstimatedFeeActivity"
            android:label="@string/nc_transaction_new"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.send.receipt.AddReceiptActivity"
            android:label="@string/nc_transaction_new"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".components.send.confirmation.TransactionConfirmActivity"
            android:label="@string/nc_transaction_confirm_transaction"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.details.TransactionDetailsActivity"
            android:exported="true"
            android:label="@string/nc_transaction_details"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.export.ExportTransactionActivity"
            android:exported="true"
            android:label="@string/nc_transaction_export_transaction"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.imports.ImportTransactionActivity"
            android:label="@string/nc_transaction_import_signature_via_qr_code"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.details.fee.ReplaceFeeActivity"
            android:label="@string/nc_replace_by_fee"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />
        <activity
            android:name=".components.schedule.ScheduleBroadcastTransactionActivity"
            android:label="@string/nc_schedule_broadcast"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.send.batchtransaction.BatchTransactionActivity"
            android:label="@string/nc_batched_transaction"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

    </application>

</manifest>