<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nunchuk.android.wallet">

    <application>
        <activity
            android:name=".personal.components.add.AddWalletActivity"
            android:label="@string/nc_wallet_add_wallet_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".personal.components.WalletIntermediaryActivity"
            android:label="@string/nc_wallet_add_wallet_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".personal.components.recover.AddRecoverWalletActivity"
            android:label="@string/nc_wallet_add_wallet_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".personal.components.recover.RecoverWalletQrCodeActivity"
            android:label="@string/nc_wallet_qrcode_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".components.configure.ConfigureWalletActivity"
            android:label="@string/nc_wallet_configure_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.review.ReviewWalletActivity"
            android:label="@string/nc_wallet_review_wallet_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.backup.BackupWalletActivity"
            android:label="@string/nc_wallet_backup"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.upload.UploadConfigurationActivity"
            android:label="@string/nc_wallet_device_registration"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.config.WalletConfigActivity"
            android:label="@string/nc_text_wallet_config_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name="com.nunchuk.android.core.qr.DynamicQRCodeActivity"
            android:label="@string/nc_text_wallet_qr_code"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.details.WalletDetailsActivity"
            android:label="@string/nc_wallet_checking_account"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Dark" />

        <activity
            android:name=".components.intro.WalletEmptySignerActivity"
            android:label="@string/nc_wallet_add_a_wallet"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Dark" />
    </application>

</manifest>