<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nunchuk.android.signer">

    <application>

        <activity
            android:name=".components.add.AddSignerActivity"
            android:label="@string/nc_create_signer_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".components.details.SignerInfoActivity"
            android:label="@string/nc_text_signer_info"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Dark" />

        <activity
            android:name=".SignerIntroActivity"
            android:label="@string/nc_add_signer_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".AirSignerIntroActivity"
            android:label="@string/nc_signer_before_start_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

    </application>

</manifest>
