<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nunchuk.android.signer">

    <application>

        <activity
            android:name=".add.AddSignerActivity"
            android:label="@string/nc_create_signer_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukLightNoActionBarTheme" />

        <activity
            android:name=".details.SignerInfoActivity"
            android:label="@string/nc_text_signer_info"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme" />

        <activity
            android:name=".SignerIntroActivity"
            android:label="@string/nc_add_signer_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukLightNoActionBarTheme" />

        <activity
            android:name=".AirSignerIntroActivity"
            android:label="@string/nc_signer_before_start_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukLightNoActionBarTheme" />

        <activity
            android:name=".SoftwareSignerIntroActivity"
            android:label="@string/nc_ssigner_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukLightNoActionBarTheme" />

        <activity
            android:name=".ss.create.CreateNewSeedActivity"
            android:label="@string/nc_ssigner_new_seed_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukLightNoActionBarTheme" />

        <activity
            android:name=".ss.confirm.ConfirmSeedActivity"
            android:label="@string/nc_ssigner_new_seed_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukLightNoActionBarTheme" />

        <activity
            android:name=".ss.recover.RecoverSeedActivity"
            android:label="@string/nc_ssigner_recover_seed"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/NunchukLightNoActionBarTheme" />

        <activity
            android:name=".ss.name.AddSoftwareSignerNameActivity"
            android:label="@string/nc_ssigner_add_name_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukLightNoActionBarTheme" />

        <activity
            android:name=".ss.passphrase.SetPassphraseActivity"
            android:label="@string/nc_ssigner_set_passphrase_title"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukLightNoActionBarTheme" />

    </application>

</manifest>
