<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".network.NetworkSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".AccountSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".DeleteAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".unit.DisplayUnitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".devices.UserDevicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".developer.DeveloperSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".sync.SyncSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".walletsecurity.WalletSecuritySettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".notification.TurnNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".localcurrency.LocalCurrencyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

        <activity
            android:name=".displaysettings.DisplaySettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />

    </application>
</manifest>
