<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nunchuk.android.core">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <receiver
            android:name=".share.IntentSharingReceiver"
            android:exported="false" />

        <activity
            android:name=".qr.ScannerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.nunchuk.android.core.nfc.TurnOnNfcActivity"
            android:label="Turn on nfc"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />
    </application>
</manifest>