<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nunchuk.android.messages">

    <application>
        <activity
            android:name=".room.detail.RoomDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NunchukNoActionBar.Light" />
    </application>

</manifest>